   body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "helvetica neue, sans-selif"
}

nav {
    width: 100%;
    background: #262626;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover {
    background-color: #e91e63;
}

ul li a {
    color: #fff;
    text-decoration: none;
}


.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #262626;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}


section {
    padding: 70px 0 70px 0;
    color: #616161;
    line-height: 11pt;
    position: relative;
}

@media (max-width: 768px)
{
    .toggle {
        display: block;
    }

    ul {
    width: 100%;
    display: none;
    }

    ul li {
        display: block;
        text-align: center;
    }
    .active {
        display: block;
    }
}


span {
    color: #E31B6D;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}




#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
}



.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text {
    margin: 70px 0 20px 0;
    font-size: 16px;
}

@media only screen and (max-width: 500px) {
  .text {
    font-size: 8px;
  }
}



footer {
    width: 100%;
    background: #262626;
}



footer .footnote {
    text-align: center;
    font-size: 10pt;
    color: #8F9AA7;
    margin-top: 35px;
    opacity: 0.6;
}

footer .footnote .highlight {
    font-family: 'Open Sans';
    color: #E31B6D;















