@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
html {
    scroll-behavior: smooth;


}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    background: #262626;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 30px;
}

ul li:hover {
    background-color: #E31B6D;
}

ul li a {
    color: #fff;
    text-decoration: none;
    text-align:
}


.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #262626;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}


section {
    padding: 70px 0 70px 0;
    color: #616161;
    line-height: 11pt;
    position: relative;


}

@media (max-width: 768px)
{
    .toggle {
        display: block;
    }

    ul {
    width: 100%;
    display: none;
    }

    ul li {
        display: block;
        text-align: center;
    }
    .active {
        display: block;
    }
}


span {
    /*color: #04C2C9;*/
    color: white;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}




#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
}



.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
  margin-top: 1em;
  text-align: center;
  align-items: center;
}


.text {
    margin: 70px 0 20px 0;
    font-size: 16px;
}

@media only screen and (max-width: 500px) {
  .text {
    font-size: 8px;
  }
}




/*Home seciton*/

#home {
    background-color: rgb(150,161,168);
}

.text h1 {
    text-align: center;
    letter-spacing: 2px;
    line-height:1.4em;
}


/*About section*/

#about {
    background-color: #262626;
    /*background-image: url(images/raglan_roast.jpg)*/



    /*background-color: #cccccc;*/

}

.about_all {
    display: flex;
    justify-content: space-between;
    width: 90%;

}

#about_pic {

}

#about_description p {
    color: white;
    margin-left: 15px;
}
#about_description span {
    color: #E31B6D;




}

#about_description p{
    line-height: 1.6;
    text-align: left;

}


@media only screen and (max-width: 768px) {
  .about_all {
    display: flex;
    flex-direction: column;
    font-size: 11px;
  }
}

/*Project Section*/

#project {
    background-color: rgb(150,161,168);
    /*background-color: #accccc;*/

}
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#project1 {




}







/*Blog Section*/
#blog {

    /*background-image: url(images/raglan_roast.jpg);*/
    /*opacity: 0.6;*/
    /*background-color: #bccccc;*/
    background-color: #262626;

}
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog img {
    background-color: none;

}







/*Contact*/
#contact {
    background-color: #262626;

}


#contact h2 {
    color: rgb(150,161,168);
}

#contact table, th, td {
    border: 1px solid black;
    margin: 2px;
    background-color: #262626;
    font-family: 'Open Sans';
    color: #04C2C9;

    /*background-image: url(images/raglan_roast.jpg)*/
}



footer {
    width: 100%;
    background: #262626;
}




/* All Icons*/
.container .fa{
  font-size: 2em;
  padding: 1em;
  color: #fff;
  transition: all 3s ease 0s;
  transform: rotate(0deg);
  transition-duration: 0.5s}


.container .fa:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}




.container .fa-linkedin-square{
  text-shadow: 1.5px 3px #04C2C9;
}
.container .fa-twitter{
  text-shadow: 1.5px 1.5px 8px #04C2C9;
}
.container .fa-github{
  text-shadow: -3.5px 4px 1px #04C2C9, -1.5px 2.5px #04C2C9;
}



footer .footnote {
    text-align: center;
    font-size: 10pt;
    color: #8F9AA7;
    margin-top: 35px;
    opacity: 0.6;
}

footer .footnote .highlight {
    font-family: 'Open Sans';
    color: #E31B6D;